<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="B2B_DASHBOARD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="host" value="svapldmz05.plumrose.com" />
    <add key="user" value="superadmin" />
    <add key="password" value="admin123456" />
    <add key="hostB2B" value="svapldmz01.plumrose.com" />
    <add key="userB2B" value="admindb" />
    <add key="passwordB2B" value="Dev1db.DMZ" />
    <add key="db_b2b" value="b2b_system" />
    <add key="db_dashboard" value="dashboard_db" />
    <add key="port" value="3306" />
    <!--    
    <add key="host" value="svapldmz05.plumrose.com" />
    <add key="user" value="superadmin" />
    <add key="password" value="admin123456" />
    
    
    <add key="host" value="localhost" />
    <add key="user" value="toor" />
    <add key="password" value="toor" />
    -->
    <!--
    <add key="hostB2B" value="10.11.15.18" /> b2bQAT
    <add key="hostB2B" value="10.11.6.138" /> b2bPRO
    
    <add key="hostB2B" value="svapldmz05.plumrose.com" />  
    <add key="userB2B" value="superadmin" />
    <add key="passwordB2B" value="admin123456" />
   -->
    <!--
    <add key="hostB2B" value="localhost" />
    <add key="userB2B" value="toor" />
    <add key="passwordB2B" value="toor" />
    -->
    <add key="db_b2b" value="b2b_system" />
    <add key="db_dashboard" value="dashboard_db_test" />

    <add key="SslMode" value="none" /><!---->
    <!--
    <add key="hostB2B" value="localhost" />
    <add key="userB2B" value="sa" />
    <add key="passwordB2B" value="" />
    <add key="db_b2b" value="b2b_system" />
    <add key="db_dashboard" value="dashboard_db" /> 
    -->
    <add key="port" value="3306" />
    <add key="userSap" value="analistalc" />
    <add key="PasswordSap" value="Sap.comer*44." />
    <!--<add key="PasswordSap" value="Sap.comer*34." />-->
    <add key="WsdlSAP" value="http://cgsapqa2.plumrose.com:8009/sap/bc/srt/wsdl/flv_10002A111AD1/bndg_url/sap/bc/srt/rfc/sap/zsd_dashboard_method01/020/zsd_dashboard_method01/zsd_dashboard_method01?sap-client=020" />
    <add key="dbXsales" value="XSales_Server_Plumrose_PRO44_S" />
    <add key="hostXsales" value="VECCSPRB03.PLUMROSE.COM\XSALES_PRO44_S" />
    <!--
    <add key="smtpServer" value="10.11.13.28" />
    <add key="smtpPort" value="25" />
    <add key="smtpAccount" value="magarcia@plumrose.com" />
    <add key="smtpPassword" value="Milan2018**" />
    <add key="userXsales" value="xsales" />
    <add key="PasswordXsales" value="Mobile.2016" />
    <add key="domain" value="plumrose.com" />
    -->
    <add key="smtpServer" value="veccsprc01.plumrose.com" />
    <add key="smtpPort" value="25" />
    <add key="smtpAccount" value="sapcolojob@plumrose.com" />
    <add key="smtpPassword" value="s2014" />
    <add key="userXsales" value="xsales" />
    <add key="PasswordXsales" value="Mobile.2016" />
    <add key="domain" value="vecguprd01.plumrose.com" />
    <add key="photo_asesor" value="/Content/img/plumrose_profile.png" />
    <add key="session_time" value="30" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  <authentication mode="Forms">
       <forms loginUrl="/Login/Index" name=".ASPXFORMSAUTH">
    </forms>
  </authentication>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.10.4.0" newVersion="6.10.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="MySql.Data.Entity.MySqlConnectionFactory, MySql.Data.Entity.EF6">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<connectionStrings>
  <add name="b2b_systemEntities" connectionString="metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;database=b2b_system&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
  <applicationSettings>
      <B2B_DASHBOARD.Properties.Settings>
          <setting name="B2B_DASHBOARD_ServiceSap_ZSD_DASHBOARD_METHOD01"
              serializeAs="String">
              <value>http://cgsapqa2.plumrose.com:8009/sap/bc/srt/rfc/sap/zsd_dashboard_method01/020/zsd_dashboard_method01/zsd_dashboard_method01</value>
          </setting>
          <setting name="B2B_DASHBOARD_ws_b2b_loaddb_wsdm" serializeAs="String">
              <value>http://vecgupra19.plumrose.com/servicios/loaddb/service.php</value>
          </setting>
      </B2B_DASHBOARD.Properties.Settings>
  </applicationSettings>
</configuration>